/*screen_left*/

.left {
background-color: lightgray;
position: fixed;
width: 20%;
height: 100%;
top:0;
left: 0;
}

/*screen_right*/

.right{
    background-color: black;
    position: fixed;
    width: 80%;
    height: 100%;
    top:0;
    right: 0;
}

/*earth*/

.ground {
    background-color: darkgreen;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1080px;
    height: 50px;
}

/*rocket*/

.rocket {
    position: x, y = 0;
    left: 20%;
    margin-left: 0%;
    bottom: 50px;
    width: 1080px;
    height: 1080px;
    background: url('../img/rocket.jpg');
    
    transition: bottom 10000ms;
}
body.body-state1 .rocket {
    background: url('../img/rocket.jpg') no-repeat;
    transition: none;
}
body.body-state2 .rocket {
    background: url('../img/rocket.jpg') no-repeat;
    transition: none;
}
body.body-state3 .rocket, body.body-state4 .rocket {
    background-image: url('../img/rocket.gif');
    bottom: 2000px;
}
body.body-state5 .rocket {
    background-image: url('../img/boom.png');
    transition: none;
}

a{
color: blue;
}

a.button{
color: orangered;
font-size: x-large;
}
/*states*/

.state1, 
.state2, 
.state3, 
.state4, 
.state5{
    display: none;
}

body.body-state1 .state1{display: block;}

body.body-state2 .state2{display: block;}

body.body-state3 .state3{display: block;}

body.body-state4 .state4{display: block;}

body.body-state5 .state5{display: block;}



h1 {
    text-align: center;
    color: darkred;
}