/*erikoisvärin juuri*/
:root {
    --special_red:  rgb(222, 69, 69);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: grey;
}
/*otsikko 1&2*/
h1 {
    color: var(--special_red);
    text-align: center;
    background-color: snow;
    text-shadow: 2px 2px 2px black;
    border-radius: 5px;
}
/*h2 {
    color:var(--special_red);
    text-align: center;
    background-color: snow;
    text-shadow: 2px 2px 2px black;
    border-radius: 5px;
}*/

/*kokolistan moutoilu tässä*/
ul {
    list-style-type: circle;
    border: solid;
    font-size: 1.5em;
    border: solid;
    border-color: snow;
    background-color: black;
}
/*lista muotoilu*/
.li1, .li2, .li3, .li4, .li5, .li6, .li7, .li8, .li9, .li10 {
    margin-top: 1.5em;
    padding: 0.5em;
    background-color: grey;
    color: var(--special_red);
    text-shadow: 0.5px 0.5px 0.5px snow;
}

a {
    text-decoration: none;
    color: inherit;
}
/*hiiren liikkeeseen reagointi*/
a:hover {
    color: snow;
}