/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');


/*erikoisvärin juuri*/
:root {
    --normal_green: green;
    --special_green: rgb(9, 255, 0);
    --normal_white: snow;
    --normal_grey: grey;
    --special_white: rgba(255, 250, 250, 0.815);
    --special_black: rgba(0, 0, 0, 0.822);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("jld_bg.avif");
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*otsikko 1&2*/
h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 2.5vw;
    color: var(--special_green);
    text-align: center;
    background-color: var(--special_white);
    background-blend-mode: color-burn;
    text-shadow: 2px 2px 2px black;
    border-radius: 5px;
    width: 85%;
    padding: 0.5em;
    align-items: center;

}
/*h2 {
    color:var(--special_green);
    text-align: center;
    background-color: snow;
    text-shadow: 2px 2px 2px black;
    border-radius: 5px;
}*/

/*kokolistan moutoilu tässä*/
ul {
    list-style-type: circle;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: var(--special_black);
    width: 85%;
    padding: 1.5em;
    margin: 25px;
}
/*lista muotoilu*/
.li1, .li2, .li3, .li4, .li5, .li6, .li7, .li8, .li9, .li10 {
    margin-top: 1.5em;
    padding: 0.5em;
    background-color: var(--normal_grey);
    color: var(--special_white);
    text-shadow: 0.5px 0.5px 0.5px var(--normal_white);
    border-radius: 5px;

}

a {
    text-decoration: none;
    color: inherit;
}
/*hiiren liikkeeseen reagointi*/
a:hover {
    color: var(--special_green);
}